<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588802119789-oh11a15chog7l1dkq0q4ju5gh4gofcut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588802119789-oh11a15chog7l1dkq0q4ju5gh4gofcut</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>588802119789-6hda24f2u719ais2ul1o2odjauq9n29m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHiEFqj1KOpzYLhCKGOWkF21pIZ6wOdhc</string>
	<key>GCM_SENDER_ID</key>
	<string>588802119789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blue_waltz.myGourmet</string>
	<key>PROJECT_ID</key>
	<string>my-gourmet-160fb</string>
	<key>STORAGE_BUCKET</key>
	<string>my-gourmet-160fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588802119789:ios:421aa538ce40863db4c764</string>
</dict>
</plist>